<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="content-type" content="text/html"; charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body class="container">
    <header>
        <h1 class="display-4 text-primary"><%= title %></h1>
    </header>
    <div role="main">
        <ol class="text-danger">
            <% if (err != null) { %>
                <% for (let i in err.errors) { %> 
                    <li><%= err.errors[i].message %> </li>
                <% } %>
            <% } %> 
        </ol>
        <form action="/sche/add" method=POST>
            <div class="form-group">
                <label>BEGIN</label>
                <input type="datetime-local" name="begin" id="begin" class="form-control">
                <ui class="text-danger">
                    <% if (err != null) { %>    
                        <% for (let i in err.get("begin")) { %> 
                            <li><%= err.get("begin")[i].message %></li>
                        <% } %> 
                    <% } %>
                </ui>
            </div>
            <div class="form-group">
                <label>END</label>
                <input type="datetime-local" name="end" id="end" class="form-control">
                <ui class="text-danger">
                    <% if (err != null) { %>    
                        <% for (let i in err.get("end")) { %> 
                            <li><%= err.get("end")[i].message %></li>
                        <% } %> 
                    <% } %>
                </ui>
            </div
            ><div class="form-group">
                <label>PLACE</label>
                <input type="text" name="place" id="place" class="form-control">
                <ui class="text-danger">
                    <% if (err != null) { %>    
                        <% for (let i in err.get("place")) { %> 
                            <li><%= err.get("place")[i].message %></li>
                        <% } %> 
                    <% } %>
                </ui>
            </div>
            <div class="form-group">
                <label>CONTENT</label>
                <textarea name="content" id="content" rows="3" class="form-control"></textarea>
                <ui class="text-danger">
                    <% if (err != null) { %>    
                        <% for (let i in err.get("content")) { %> 
                            <li><%= err.get("content")[i].message %></li>
                        <% } %> 
                    <% } %>
                </ui>
            </div>
            <input type="submit" class="btn btn-primary" value="送信">
        </form>
        <p class="mt-4">
            <a href="/sche">&lt;&lt; Top へ戻る</a>
        </p>
    </div>
</body>
</html>
